@page "/membership/{PersonId}"
@inherits ProfessionalMembershipFormBase

@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject IJSRuntime JSRuntime;


      <div class="card m-3">
          <div class="card-header">
             <h3>Address</h3>   
          </div>
          <div class="card-body">
              <EditForm EditContext="@editContext" OnValidSubmit="HandleValidSubmit">
                  <DataAnnotationsValidator />
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Physical Code</label>
                          <InputText  class="form-control" />
                      </div>
                  </div>
              </EditForm>
          </div>
          <div class="card-footer">
              <div>
                  <button @onclick="@Back" class="btn btn-primary mr-1">Back</button>
                  <button @onclick="@HandleValidSubmit" class="btn btn-primary mr-1">Next</button>
              </div>
          </div>
      </div>


