@layout AuthLayout
@inherits ConfirmEmailBase
@page "/ConfirmEmail"


<form class="login100-form validate-form">
    <span class="login100-form-title p-b-34">
        Email successfully verified, click below to sign in
    </span>
    <a href="/signin" class="txt3">
        Signin?
    </a>
    <div class="w-full text-center p-t-27 p-b-239">
        <a href="/signin" class="txt3">
            Signin?
        </a>
    </div>
</form>

@code {

}
