@layout AuthLayout
@inherits ForgotPasswordChangeBase
@page "/forgotPasswordChange"


<form class="login100-form validate-form" @onsubmit="HandleForgotPasswordChange">
    <span class="login100-form-title p-b-34">
        Password change
    </span>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type password">
        <input class="input100" required type="password" @bind-value="userLoginDetails.Password" name="pass" placeholder="Password">
        <span class="focus-input100"></span>

    </div>

    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type password">
        <input class="input100" required type="password" @bind-value="userLoginDetails.PasswordConfirm" name="pass" placeholder="Confirm Password">
        <span class="focus-input100"></span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Change Password
        </button>
    </div>
</form>


@code {

}
