@layout AuthLayout
@inherits ForgotPasswordBase
@page "/forgotPassword"
@inject IJSRuntime JSRuntime;
@using Blazored.Toast.Configuration


<EditForm class="login100-form validate-form" EditContext="@editContext" OnValidSubmit="@HandleForgotPassword">
    <span class="login100-form-title p-b-34">
        Password change
    </span>
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="authentication-controls">
        <InputText id="first-name" class="form-control" required @bind-Value="userLoginDetails.Email" type="email" name="email" placeholder="Email" />
        <span class="focus-input100"></span>
        <ValidationMessage For="@(() => userLoginDetails.Email)" />
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Send Email
        </button>
    </div>
   
</EditForm>


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug">

</BlazoredToasts>