@layout AuthLayout
@page "/passwordChanged"



<form class="login100-form validate-form">
    <span class="login100-form-title p-b-34">
        Your password has been successfully changed
    </span>
    <a href="/signin" class="txt3">
        Signin?
    </a>
</form>
@code {

}
