@layout AuthLayout
@page "/RegisterConfirmation"

<form class="login100-form validate-form">
    <span class="login100-form-title p-b-34">
        Check your inbox for a link to verify your email address
    </span>

</form>

@code {

}
