@page "/"
@namespace SkillsMatrix.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Snakepark Skills Competency Matrix</title>
    <base href="~/" />

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="layout/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="layout/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="layout/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link href="css/stepper.css" rel="stylesheet" />
</head>
<body>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>

    <script src="layout/vendor/jquery/jquery.min.js"></script>
    <script src="layout/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="layout/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="layout/js/sb-admin-2.min.js"></script>
    <script src="google/address.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGafzh7tV2fKKypcr6LoR-KDIF1-S0cdg&callback=initAutocomplete&libraries=places&v=weekly"
        async defer></script>*@

    <!-- Page level plugins -->
    <script src="layout/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="layout/vendor/datatables/TableMin.js"></script>
    <!-- Page level custom scripts -->
    <script src="layout/js/demo/datatables-demo.js"></script>

    <script type="text/javascript">
        function saveAsFile(filename, bytesBase64) {
            if (navigator.msSaveBlob) {
                //Download document in Edge browser
                var data = window.atob(bytesBase64);
                var bytes = new Uint8Array(data.length);
                for (var i = 0; i < data.length; i++) {
                    bytes[i] = data.charCodeAt(i);
                }
                var blob = new Blob([bytes.buffer], { type: "application/octet-stream" });
                navigator.msSaveBlob(blob, filename);
            }
            else {
                var link = document.createElement('a');
                link.download = filename;
                link.href = "data:application/octet-stream;base64," + bytesBase64;
                document.body.appendChild(link); // Needed for Firefox
                link.click();
                document.body.removeChild(link);
            }
        }




    </script>


    <script src="_framework/blazor.server.js"></script>

</body>
</html>